html, body{
  margin: 0;
  padding: 0;
}

.red{
  background-color: red;
  color: white;

}
.black{
  background-color: black;
  color: white;
}
.yellow{
  background-color: yellow;
  color: white;
}
.text-black{
  color: black;
}